include input.pug

mixin panel()
	.panel__wrapper
		h2 Настройки
		form.panel__form
			.panel__checkbox
				+input('интервал', 'range', 'checkbox')
				+input('подсказка', 'tooltip', 'checkbox')
				+input('вертикальный вид', 'vertical', 'checkbox')
			.panel__inputs
				+input('минимальное значение', 'minVal', 'number')
				+input('максимальное значение', 'maxVal', 'number')
				+input('стартовое значение', 'val', 'number')
				+input('конечное значение', 'valEnd', 'number')
				+input('шаг', 'step', 'number')
