.slider {
  display: flex;
  align-items: center;
  height: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 20px 10px;
}
.handle {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  z-index: 100;
}
.tooltip {
  width: fit-content;
  text-align: center;
  background-color: grey;
}