.slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 30px 10px;

  .handle {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;

    .tooltip {
      position: relative;
      width: fit-content;
      padding: 0 2px;
      font-size: 12px;
      border: 1px solid grey;
      border-radius: 4px;
      text-align: center;
      background-color: #fff;
    }
  
  }
  
}
