include slider.pug
include demo/panel.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    title Slider
  body
    .demo
      .js-demo__slider
        .slider__wrapper
          +slider({valEnd : 5 })
      .js-demo__panel
        +panel
    .demo
      .js-demo__slider
        .slider__wrapper
          +slider({vertical : true, range: false })
      .js-demo__panel
        +panel

