body {
  margin: 0;
}

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  @media(max-width: 980px) {
    flex-direction: column;
  }

  .demo__slider {
    display: flex;
    justify-content: center;
    width: 40%;
    user-select: none;

    @media(max-width: 980px) {
      width: 100%;
    }
  

    .slider__wrapper {
      padding: 10%;
      width: 80%;

      .js-slider {
        display: flex;
        justify-content: center;       
      }

      .slider {
        width: 100%;
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 10px;
        background-color: rgb(229, 229, 229);
        border-radius: 6px;
        cursor: pointer;

        &__fill {
          position: absolute;
          height: 10px;
          background-color: rgb(231, 87, 53);
          border-radius: 6px;
        }

        &__handle {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: rgb(231, 87, 53);
          border: 1px solid white;
          border-radius: 50%;
          cursor: pointer;
          z-index: 100;

          .slider__tooltip {
            position: relative;
            width: fit-content;
            padding: 4px 8px;
            font-size: 13px;
            border-radius: 4px;
            text-align: center;
            background-color: rgb(231, 87, 53);
            color: #fff;
            z-index: 99;
            cursor: pointer;

            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              width: 6px;
              height: 6px;
              left: 40%;
              border-radius: 15%;
              background-color: rgb(231, 87, 53);
              transform: rotate(45deg);
              z-index: 98;
            }
          }
        }

        &__scale {
          position: absolute;
          width:100%;
          top: 30px;

          .scale__values {
            position: relative;
            display: flex;
            width:100%;

            .value__item {
              position: absolute;
              transform: translateX(-50%);
            }
          }
        }
      }

      .slider--vertical {
        width: 10px;
        height: 25rem;
        justify-items: center;

        .slider__handle {
          .tooltip--vertical {
            &::after {
              bottom: 40%;
              left: 80%;
            }
          }
        }

        .fill--vertical {
          align-self: flex-start;
          width: 10px;
          border-radius: 6px;
          left: 0;
        }

        .scale--vertical {
          width: 0px;
          height: 100%;
          top: 0;
          left: 30px;

          .scale__values {
            display: flex;
            height: 100%;
            flex-direction: column;
          }

        }
      }
    }
  }

  .js-demo__panel {
    .panel__wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;

      .panel__form {
        display: flex;

        @media(max-width: 620px) {
          flex-direction: column;
        }

        .panel__checkbox {
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          @media(max-width: 620px) {
            align-items: center;
          }
  
          label {
            margin-bottom: 10px;
          }
        }

        .panel__inputs {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          label {
            margin-bottom: 10px;

            @media(max-width: 620px) {
              display: flex;
              flex-direction: column;
            }
  
            input {
              padding: 0 5px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
